@charset "utf-8";
/* reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

a:link,a:visited{
    text-decoration: none;
    color:#222; /* #222222 is the same as #222
    first 22 is R/red, second 22 is G/green, third 22 is B/blue.
    can also write it as rgba(0,0,0,0.5) the last a/alpha stands for
    opacity and has value between 0 and 1. So rgba(0,0,0,0.5) will be
    color black with opacity 0.5 */
}

ul,li{ /* ul is the dot that is in front of the list elements */
    list-style:none;
}

body{
    background-image: url("../images/bg_grid.gif");
    background-repeat: none;
}

div{
    width:100px;
    height:100px;
}

.box1{
   background-color:skyblue;
   /*margin: 0 auto; /* 0 is vertical, auto is horizontal */
   position:absolute;
   right:100px;
   /* left:50px; /*to use left and right (- to +), must have position first */
   /* top:50px; */ */
   /* those with position go on top of all other elements without position.
   if elements on same level both have position, the last element will go on top.
   except when earlier elements have a z-index of 1 then the element with z-index
   will go on top of elements further below. So z-index goes above position and flow.
   if both elements in same level and position have same z-index of 1, then again
   the element further down in html will go on top
   except when element higher up in html use z-index of a value higher than 1
   such as z-index of 2 then it will go on top of elements further below in html
   with z-index of 1. */
   /* z-index:2; */
}

.box2{
    background-color: pink;
    position:relative;
    top:10px;
    /* z-index:1; */
}

.box3{
    background-color: green;
    position:relative;
    left:10px;
}