@charset "utf-8";

/*reset start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
}
/*reset end */

body {
  background-color: skyblue;
}

/* hamburger button */
.toggle {
  width: 30px;
  height: 30px;
  background-color: red;
  display: none;
}

/* container */
.container {
  /* w1200 tab  width 1200px creates a scroll under 1200px width bc of the container
  so instead if we make .container width 100% it won't create a scroll if we reduce screen size */
  /* width: 1200px; */
  width: 100%;
  margin: 0 auto;
}
.layout {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  /* align items center removes the default align items stretch (stretch is like fill container in figma) 
  you can see if you put bg red on gnbmenu how it differes with or without align items center*/
  align-items: center;
}

/* navigation (menu) */
.gnbMenu {
  /* background: blue;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center; */
}
.gnbMenu > ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.gnbMenu a {
  display: block;
  padding: 10px 16px;
  background-color: red;
}
/* .toggle {
  display: block;
  /* we can use z-index if parent is flex or itself is flex */
/* z-index: 10; */
/* why does it not appear if we don't use z-index here.. */
/* }  */

/*css responsive start*/
/* bootstrap navbar was doing this responsive part automatically */
/* media query has 4 levels, whereas bootstrap has 5 levels of screen size */
@media screen and (max-width: 1199px) {
  body {
    background-color: pink;
  }
}

@media screen and (max-width: 991px) {
  body {
    background-color: grey;
  }
}

/* mobile size. max width 767px */
@media screen and (max-width: 767px) {
  .toggle {
    display: block;
    /* why does it not show without z-index?? */
    z-index: 10;
  }
  .gnbMenu > ul {
    /* display: flex; */
    flex-direction: column;
    /* gap: 10px; */
  }
  .gnbMenu {
    /* background: blue; */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .gnbMenu.active {
    left: 0;
  }
}
@media screen and (max-width: 575px) {
}
/*css responsive end*/
