// reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}

ul,
li {
  list-style: none;
}

// html,
// body {
//   height: 100%;
//   // or just do height:100vh; on body only
// }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.panel {
  position: relative;
  width: 600px;
  height: 300px;
  // bd + tab
  border: 1px solid #000;
  padding: 10px;
  > .bar {
    width: 500px;
    height: 10px;
    border-radius: 5px;
    background: red;
    position: absolute;
    left: 50px;
    top: 190px;
  }
  > .car {
    // w120 X h70
    // end position: 500px (line width) - 120 (car width) = 380px
    position: absolute;
    left: 50px;
    top: calc(190px - 70px);
    &.rotate {
      transform: rotateY(180deg);
    }
  }
}

.btnWrap {
  display: flex;
  //   width: 600px;
  //   align-self: stretch;
  //   background: red;
  //   justify-content: center;
  gap: 10px;
  padding-top: 10px;
  button {
    padding: 10px;
  }
}
