*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image:url("../images/sk-banner.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height:100vh; /*height:100% does not work here-why???*/
}

.header{
    position:fixed; 
    display:flex;
    width:100%;
    align-items: center;
}

@media all and (max-width: 1024px) {
    .lhs-menu-btn,.rhs-menu-btn{
        display:none;
    }
}

.header-logo{
    padding: 0px 16px 0px 60px;
}

.logo-img{
    max-width: 120px;
}

.lhs-menu{
    display:flex;
    justify-content:space-around;
    align-items: center;
    width:805.36px;
    height:100px;
}

.rhs-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width:872.48px;
    height:100px;
}

.lhs-menu-btn{
    color:white;
    font-size:19.2px;
    transition: 0.3s;
    /* font-family: Pretendard; */
}

.lhs-menu-btn:hover{
    color:red;
    text-decoration:underline;
}

.rhs-menu-btn{
    background:#555;
    color:white;
    padding: 8px 16px;
    font-size: 0.875rem;
    border-radius:30px;
    margin:10px;
}

i{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    margin:20px;
}

.icons{
    display:flex;
    padding: 0px 20px 0px 0px;
}