@charset 'utf-8';

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a:link,a:visited{
    text-decoration:none;
    color:#333;
}

.bannerWrap{
    /* background-color: skyblue; */
    /*height:100%; /*% is body's 100% so it's different from vh*/
    height: 100vh; /*v=viewport=size of current screen. similar to % but different*/
    min-height:768px;
    width: 100%;
    min-width:1140px;
    background-image:url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.menuWrap{
    /* background-color: purple; */
    min-width: 1140px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 20px 40px;

    position:fixed;
    width:100%;
}

.banner{
    width: 1140px;
    /* background: skyblue; */
    margin: 0 auto;
    /* %=height of container the element is held inside of
    vh = height of device/screen size*/
    height:100%; /*for height to work, its parent must have its height set*/
    color:white; 
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{
    font-size: 50px;
}

p.title{
    font-size: 20px;
}

.btn{
    display: block;
    width:150px;
    height:50px;
    /* background-color: white; */
    border-radius:25px;
    font-weight:bold;
    
    display: flex;
    justify-content: center;
    align-items: center;

    border:1px solid white;
}

a.btn{
    color:white;
    transition: 0.3s;
}

a.btn.active{ /*without space so elements on same level*/
    background-color: white;
    color:black;
}

a.btn:hover{
    background-color: white;
    color:black;
}


body{
    background-color: pink;
}